**Print a sentence**

In [1]:
print ("Hello World!")

Hello World!

**Basic mathematical operations**

In [52]:
# Assing values to a & b
a = 1
b = 10

**Addition**

In [4]:
c = a + b
#printing "c" value
c

11

**Multiplication**

In [5]:
d = a * b 
d

10

**LISTS**

In [6]:
a_list = [1,2,3,4,5,6]

**Calculating the length of a list**

In [7]:
len(a_list)

6

In [8]:
b_list = [4,2,1,6,3]

**Sort the values in a list**

In [9]:
sorted(b_list)

[1, 2, 3, 4, 6]

**Printing the first value of a list**

In [13]:
b_list = [4,2,1,6,3]
b_list[0]

4

**Conditions and For Loops**

In [11]:
for l in b_list:
    print (l)

4
2
1
6
3

In [14]:
len(b_list)

5

**FOR LOOP**

In [16]:
for i in range(0,5):
    print (i, 'th element is :' , b_list[i])

0 th element is : 4
1 th element is : 2
2 th element is : 1
3 th element is : 6
4 th element is : 3

In [53]:
print(a,b)

1 10

**Conditions**

In [19]:
if b > a: 
    print (b, "is bigger than" , a)
else:
    print (a, "is bigger than", b)

10 is bigger than 1

In [38]:
#sets , tuples , list comprehension - all types , function , how to call a function , while loop

**Sets**

In [4]:
a_set = set(["a", "b","c"])

In [5]:
print(a_set)

{'c', 'a', 'b'}

In [8]:
#Sets can also be represeted as following:
b_set = {1,2,4,5}
print(b_set)

{1, 2, 4, 5}

**Frozen Set**

In [6]:
f_set = frozenset(["e", "f", "g"])

In [7]:
print(f_set)

frozenset({'f', 'g', 'e'})

**TUPLES**

In [9]:
empty_tuple = () 
print (empty_tuple)

()

In [10]:
tuple1= ('apples','mangoes','oranges')
print(tuple1)

('apples', 'mangoes', 'oranges')

**Concatenating Tuples**

In [13]:
tuple1= ('apples','mangoes','oranges')
tuple2 = (3,4,5)
print(tuple1+tuple2)

('apples', 'mangoes', 'oranges', 3, 4, 5)

**List Comprehension**

In [14]:
#new_list = [expression(i) for i in old_list if filter(i)]
x = [i for i in range(10)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
test_list = [x**2 for x in range(5)]
print(test_list)

[0, 1, 4, 9, 16]

**Multiplication using a list comprehension**

In [17]:
test_list2 = [x*5 for x in range(5)]
test_list2

[0, 5, 10, 15, 20]

In [19]:
list1=[1,3,4,5]
test_list2 = [x*3 for x in list1]
test_list2

[3, 9, 12, 15]

**Print the first letter of each word using List Comprehensions**

In [21]:
listOfWords = ["data","science","basics","python","commands"]

items = [ word[0] for word in listOfWords ]

items

['d', 's', 'b', 'p', 'c']

**Convert the list of letters to Upper and Lower case letters**

In [23]:
[x.upper() for x in ["a","b","c"]]

['A', 'B', 'C']

In [24]:
list_lower = [x.lower() for x in ["N","b","C"]]
list_lower

['n', 'b', 'c']

**Find numbers from a string**

In [26]:
string = "My house number is 123"
numbers = [x for x in string if x.isdigit()]
numbers

['1', '2', '3']

**Find Alphabets from a string**

In [27]:
alpha = [x for x in string if x.isalpha()]
alpha

['M', 'y', 'h', 'o', 'u', 's', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 'i', 's']

**FUNCTIONS**

**Defining a Function**

In [54]:
def sample_function(x):
    x=x*5
    return x

**Calling the function**

In [29]:
sample_function(10)

50

**Using Functions with List Comprehensions**

In [30]:
[sample_function(x) for x in range(5)]

[0, 5, 10, 15, 20]

**While Loop**

In [32]:
a = 10
while a > 0:
    a = a-2
    print(a)

8
6
4
2
0

**Dictionaries**

In [39]:
sample = {
    "Name":"zara",
    "Age": 8,
    "Class": 'Second'
}

In [41]:
sample['Name']

'zara'

**Updating the dictionaries**

In [47]:
sample['Age'] = 7
sample['School'] = "xyz high school"

In [43]:
#printing updated school and age value in dictionary
sample['School'], sample['Age']

('xyz high school', 7)

In [44]:
#printing complete sample dicitonary
sample

{'Name': 'zara', 'Age': 7, 'Class': 'Second', 'School': 'xyz high school'}

In [48]:
#Deleting the dictionary elements
del sample['Age']
sample

{'Name': 'zara', 'Class': 'Second', 'School': 'xyz high school'}

In [49]:
len(sample)

3

In [50]:
str(sample)

"{'Name': 'zara', 'Class': 'Second', 'School': 'xyz high school'}"

In [55]:
a = input("Enter a number : ")

Enter a number : 3

In [56]:
print (a)

3